#!/usr/bin/pypy3
# -*- coding: utf-8 -*-

# 此為設定的樣板檔，請依照下面的註解進行自己的設定檔製作
# 設定檔檔案名稱為，setting.py 請自行複製樣板檔製作

# Only for 0MuServer / 0muMDAU

# Server Setting
host = "127.0.0.1"
port = 8509

# Github Setting
gitpath = "https://github.com/0mu-Project/blog.git"

# Debug Mode , 0 = off , 1 = on
debug = 0

# Server Log Dump Location
s_log = '../server.log'

# Database Setting
sqliteFile = '../sqlite/0MuMDAU.db'

#
yourkey = 'jfowjwo9w??{{@@jrejk__'
imgurkey = ''
