<div class="panel panel-default" style=" border-radius: 0 !important;    border: 0;" id="load">
   	</br>
	<div class="panel-body">
		<form id="form" class="createtable">
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon3">Github 帳號</span>
				<input class="form-control" type="text" name="username" size="20" placeholder="請輸入使用者名稱而非信箱"><br>
			</div></br>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon3">Github 密碼</span>
				<input class="form-control" type="password" name="password" size="20" placeholder="請輸入您Github的密碼"><br>
			</div></br>
			<input class="form-control" name="title" type="text" required onkeyup="value=value.replace(/[\一-\龥]|\s|\b/g,'') " placeholder="格式 不可中文 不可空白" id = "fc-inp"></br>
			<textarea class="content" name="content" data-provide="markdown" rows="20">---
layout: post
title:  "" 
date: 
---
<!--
請依照以下格式填寫上面的發文標注
layout: post
title:  "你要的標題"
date:   20xx-xx-xx xx:xx:xx
-->
<!-- 內文  -->
			</textarea> 
			<hr/>
		</form>
		<div class="btn-group pull-right" role="group" aria-label="Submit Option">
			<button type="submit" id="save" class="btn btn-success">
				<span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
				只儲存在本地</button>
			<button type="submit" id="submit" class="btn btn-warning">
				<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
				直接發表此文
			</button>
		</div>
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#posts">尚未發布</a></li>
			<li><a data-toggle="tab" href="#posted">已經發布</a></li>
		</ul>
		<div class="tab-content">
			<div id="posts" class="tab-pane fade in active">	
				<table id="marktitle" class="table">
					<tr>
						<th>佇列</th>
						<th>檔案名稱</th>	
						<th>刪除文章</th>	
					</tr>
				</table>
			</div>
			<div id="posted" class="tab-pane fade">	
				<table id="markedtitle" class="table">
					<tr>
						<th>佇列</th>
						<th>檔案名稱</th>	
						<th>刪除文章</th>	
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

