{% extends "base.html" %}
{% block title %}First Time{% endblock%}
{% block content %}
<div class="panel panel-default" style=" border-radius: 0 !important;" id="logging">
	<div class="panel-heading">0MuMDAU 初次運作配置</div>
	<div class="panel-body"> 
		<img style="display:block; margin:auto;" src="/static/img/bg.jpg"></img>
		<form id="bck" class="createtable" method="post" action="/init">
			</br>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon3">請輸入您要的用戶名稱</span>
				<input class="form-control" type="text" name="buser" size="20" placeholder="請牢記此帳號"><br>
			</div></br>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon3">請輸入您要的後台密碼</span>
				<input class="form-control" type="password" name="bpass" size="20" placeholder="請輸入您密碼"><br>
			</div>
			<br />
			<div class="btn-group pull-right" role="group" aria-label="login Option">
				<button type="submit" id="login" class="btn btn-success">
					<span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
					進行初次設定
				</button>
			</div>			
		</form>		
		</br>
		</hr>
	</div>
</div>
{% endblock%}
{% block script %}{% endblock %}
