{% extends "base.html" %}
{% block title %}Github Check{% endblock%}
{% block content %}
						  <img style="display:block; margin:auto;" src="/static/img/pullw.jpg" width="70%" height"70%"></img>
						  </br>
						  <h2>正在從您設定的github repo抓取是否有新的更新</h2>
						  </br>
						  <p>假如您是第一次進入本後台，系統會自動抓取repo到 ./blog 位置</p>
							  <p>請稍後...正在載入 Markdown Editor !</p>
							  <p>請不要離開本頁面 謝謝！</p>
{% endblock %}
{% block script %}
	  <script>
		  $(document).ready(function(){
			  $("#load").hide(); 
			  $("#logging").hide();
			  $.ajax({
				  type: "POST",
				  url: "/",
				  dataType: "html",
				  success: function(){
					  window.location.href='/login/panel'
				  },
				  error: function(){ alert("failure");}
			  });

		  });
		  </script>	
{% endblock %}
