<!DOCTYPE html>
<html>
<head>
	{% block head %}
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
	<link rel="stylesheet" type="text/css" media="screen" href= "../static/css/base.css" >
	<link rel="stylesheet" type="text/css" media="screen" href= "../static/css/semantic.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<title>{% block title %}{% endblock %} - 0muMDAU</title>
	{% endblock %}  
</head>
<body style="height:100%;">
		<div class="ui container"  style="padding-top:70px;">
			{% block top %}{% endblock %}
		<div class = "ui segment raised">
			{% block content %}{% endblock %}
		</div>
		<br>
	</div>
	  	<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	   	<script src="https://rawgit.com/jeresig/jquery.hotkeys/master/jquery.hotkeys.js"></script>
		<script src="../static/js/markdown.js"></script>
		<script src="../static/js/semantic.js"></script>
		<script src="../static/js/ajaxfileupload.js"></script>
		<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
		{% block script %}{% endblock %}
</body>
</html>
