{% extends "base.html"%}
{% block title %}Admin Panel{% endblock %}
{% block top %}{% include "topbar.html" %}{% endblock %}
{% block content %}
<br />
<br />
<div class="panel panel-default" style="border-radius:0 !important; border:1;">
	<div class="panel-body">
		<div class="col-md-2">
			<h1 class="text-right"> {{username}}</h1>
				<h4 class="text-right"> System Developer</h4>
				<br />
				<a style="text-align: right; float: right;" href="#">更換個人密碼</a>
		</div>
		<div class="col-md-10" style="border-left: 1px solid #ccc;">
			<ul class="nav nav-tabs">
				  <li class="active"><a data-toggle="tab" href="#edit">發文系統</a></li>
				  <li><a data-toggle="tab" href="#users">編者管理</a></li>
				  <li><a data-toggle="tab" href="#sysmaintan">系統維護</a></li>
			  </ul>
			  <div class="tab-content">
				  <div id="edit" class="tab-pane fade in active">
					  {% include "edit.html" %}
				  </div>
				  <div id="users" class="tab-pane fade">
				  </div>
				  <div id="sysmaintan" class="tab-pane fade">
					  {% include "maintenance.html"%}
				  </div>
		 	  </div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script>	
	function showmdposted(url) {
		$.ajax({
			type : "POST",
			url : "/md/listed/" + url ,
			dataType: "text",
			success: function(data) {
				var title = url.split(".",1);
				var titles = title.toString();
				var titled = titles.substr(11);
				$("textarea.content").data('markdown').setContent(data);
				$("#fc-inp").val(titled);
			}
		});
	}
</script>
<script>
	function showmd(url) {
		$.ajax({
			type : "POST",
			url : "/md/list/" + url ,
			dataType: "text",
			success: function(data) {
				var title = url.split(".",1);
				var titles = title.toString();
				var titled = titles.substr(11);
				$("textarea.content").data('markdown').setContent(data);
				$("#fc-inp").val(titled);
			}
		});
	}
</script>
<script>
	$(document).ready(function(){
		$.getJSON("/edit/posts" , function ( data ) {
			console.log( data );
			var number =1;
			$.each(data, function (index, value){
				console.log(value);
				var val = "'" + value + "'";
				var myRow = '<tr><td>'+number + '</td><td><a href="javascript:showmd('+ val + ')"> '+ value +'</a></td></tr>';
			 	number = number +1;
				$("#marktitle tr:last").after(myRow); 
			})
	  	});
		$.getJSON("/edit/posted" , function ( data ) {
			console.log( data );
			var number =1;
			$.each(data, function (index, value){
				console.log(value);
			   	var	val = "'" + value + "'";
				var myRow = '<tr><td>'+number + '</td><td><a href="javascript:showmdposted('+ val + ')"> '+ value +'</a></td></tr>';
				number = number +1;
			  	$("#markedtitle tr:last").after(myRow); 
		  	})
  		});	
	});
</script>	  
<script>
	$(function() {
		$("button#save").click(function(){
				$.ajax({
		 			type: "POST",
		 			url: "/md/save",
					data: $('#form').serialize(),
					datatype: "text",
					success: function( data ){ 
						alert(data);},
					error: function(){ alert("503 error");} 
			});
			
		});
	});
</script>
<script>
	$(function() {
		$("button#submit").click(function(){
		   	$.ajax({
		 		type: "POST",
				url: "/md/submit",
				datatype: "text",
		 		data: $('#form').serialize(),
				success: function(data){ 
					alert(data);},
				error: function(){ alert("503 error");} 
			});
		});
	});
</script>
{% endblock %}
