		<img style="display:block; margin:auto;" src="/static/img/bg.jpg" width="97.5%"></img>
		<form id="bck" class="createtable" method="post" action="/init">
			</br>
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon3">請輸入您要的用戶名稱</span>
				<input class="form-control" type="text" name="buser" size="20" placeholder="請牢記此帳號"><br>
			</div></br>
			<br />
			<div class="btn-group pull-right" role="group" aria-label="login Option">
				<button type="submit" id="login" class="btn btn-success"
					<span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
					創個帳號
				</button>
			</div>			
		</form>		
		</br>
		</hr>
